<section class='tab{{#if tab.active}} active{{/if}}' data-group='{{tab.group}}' data-tab='{{tab.id}}'>
  <!-- User Defined Aura 1-->
  <fieldset>
    <legend>{{localize 'SWADE.Auras.UserAura1'}}</legend>
    {{formGroup
      auraFields.enabled
      value=source.system.auras.aura1.enabled
      name='system.auras.aura1.enabled'
      classes='slim'
      localize=true
      rootId=document.uuid}}
    {{formGroup
      auraFields.walls
      value=source.system.auras.aura1.walls
      name='system.auras.aura1.walls'
      classes='slim'
      localize=true
      rootId=document.uuid}}
    {{formGroup
      auraFields.radius
      value=source.system.auras.aura1.radius
      name='system.auras.aura1.radius'
      classes='slim'
      localize=true
      rootId=document.uuid}}
    {{formGroup
      auraFields.color
      value=source.system.auras.aura1.color
      name='system.auras.aura1.color'
      classes='slim'
      localize=true
      rootId=document.uuid}}
    {{formGroup
      auraFields.alpha
      value=source.system.auras.aura1.alpha
      name='system.auras.aura1.alpha'
      classes='slim'
      localize=true
      rootId=document.uuid}}
    {{formGroup
      auraFields.visibleTo
      value=source.system.auras.aura1.visibleTo
      name='system.auras.aura1.visibleTo'
      classes='slim'
      localize=true
      rootId=document.uuid}}
  </fieldset>
  <!-- User Defined Aura 2-->
  <fieldset>
    <legend>{{localize 'SWADE.Auras.UserAura2'}}</legend>
    {{formGroup
      auraFields.enabled
      value=source.system.auras.aura2.enabled
      name='system.auras.aura2.enabled'
      classes='slim'
      localize=true
      rootId=document.uuid}}
    {{formGroup
      auraFields.walls
      value=source.system.auras.aura2.walls
      name='system.auras.aura2.walls'
      classes='slim'
      localize=true
      rootId=document.uuid}}
    {{formGroup
      auraFields.radius
      value=source.system.auras.aura2.radius
      name='system.auras.aura2.radius'
      classes='slim'
      localize=true
      rootId=document.uuid}}
    {{formGroup
      auraFields.color
      value=source.system.auras.aura2.color
      name='system.auras.aura2.color'
      classes='slim'
      localize=true
      rootId=document.uuid}}
    {{formGroup
      auraFields.alpha
      value=source.system.auras.aura2.alpha
      name='system.auras.aura2.alpha'
      classes='slim'
      localize=true
      rootId=document.uuid}}
    {{formGroup
      auraFields.visibleTo
      value=source.system.auras.aura2.visibleTo
      name='system.auras.aura2.visibleTo'
      classes='slim'
      localize=true
      rootId=document.uuid}}
  </fieldset>
</section>