<form class='{{cssClass}}' autocomplete='off'>
  {{#> "systems/animabf-guote/templates/common/ui/group.hbs"
    class="chat-combat-defense-values"
  }}
    {{>
    "systems/animabf-guote/templates/common/ui/group-header.hbs"
      title=(localize 'anima.chat.combat.defense.dialogTitle')
    }}
    {{#> "systems/animabf-guote/templates/common/ui/group-body.hbs"
      class="chat-combat-defense-values"
    }}
      {{!-- Defender info --}}
      <div class="chat-combat-defender-summary">
        <img src="{{this.defender.token.texture.src}}" class="chat-combat-portrait-dialog" alt="{{this.defender.token.name}}" />
        <span class="chat-combat-defender-name-dialog">{{this.defender.token.name}}</span>
      </div>

      {{!-- Attacker info --}}
      <div class="chat-combat-attacker-summary">
        <img src="{{this.attacker.img}}" class="chat-combat-portrait-mini" alt="{{this.attacker.name}}" />
        <span class="chat-combat-vs-label">{{localize 'anima.chat.combat.defense.vsLabel'}}</span>
        <span class="chat-combat-attacker-name">{{this.attacker.name}}</span>
        <span class="chat-combat-attack-value">({{this.attacker.attackTotal}})</span>
      </div>

      {{#unless this.defenseSent}}
      <div class="preset-manager">
        <div class="preset-load-row">
          <label class="preset-label">{{localize 'anima.ui.combat.loadPreset'}}</label>
          <select class="preset-selector load-defense-preset">
            <option value="">-- {{localize 'anima.ui.combat.newDefense'}} --</option>
            {{#each this.defender.actor.system.combat.defensePresets}}
            <option value="{{this._id}}" {{#if (is 'eq' this._id ../this.selectedPresetId)}}selected{{/if}}>{{this.name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="preset-save-row">
          <input type="text" class="preset-name-input" placeholder="{{localize 'anima.ui.combat.presetName'}}" value="{{this.presetName}}">
          <button type="button" class="abf-button save-defense-preset" disabled title="{{localize 'anima.macros.combat.dialog.savePreset'}}">
            <i class="fas fa-save"></i> {{localize 'anima.macros.combat.dialog.savePreset'}}
          </button>
        </div>
      </div>
      {{/unless}}

      <nav class="abf-tabs sheet-tabs tabs" data-group="primary">
        {{#if (is 'eq' this.defender.actor.system.general.settings.defenseType.value 'resistance')}}
          <a class="item" data-tab="damageResistance">{{localize "anima.ui.tabs.damageResistance"}}</a>
        {{else}}
          <a class="item" data-tab="combat">{{localize "anima.ui.tabs.combat"}}</a>
        {{/if}}
        {{#if (is 'gt' this.defender.actor.system.mystic.spells.length 0)}}
          <a class="item" data-tab="mystic">{{localize "anima.ui.tabs.mystic"}}</a>
        {{/if}}
        {{#if (is 'gt' this.defender.actor.system.psychic.psychicPowers.length 0)}}
          <a class="item" data-tab="psychic">{{localize "anima.ui.tabs.psychic"}}</a>
        {{/if}}
        {{#if (is 'gt' this.defender.actor.system.mystic.summons.length 0)}}
          <a class="item" data-tab="summon">{{localize "anima.ui.tabs.summon"}}</a>
        {{/if}}
      </nav>

      {{#if (is 'neq' this.ui.activeTab 'damageResistance')}}
        <div class='columns'>
          <div>
            {{>
                "systems/animabf-guote/templates/common/ui/horizontal-titled-input.hbs"
                title=(localize 'anima.macros.combat.dialog.noRoll.title')
                disabled=this.defenseSent
                inputType="checkbox"
                inputName="defender.withoutRoll"
                inputValue=(is 'eq' this.defender.withoutRoll true)
            }}
          </div>
          <div>
            {{#if this.ui.isGM}}
              {{>
              "systems/animabf-guote/templates/common/ui/horizontal-titled-input.hbs"
                title=(localize 'anima.macros.combat.dialog.showRoll.title')
                disabled=this.defenseSent
                inputType="checkbox"
                inputName="defender.showRoll"
                inputValue=(is 'eq' this.defender.showRoll true)
              }}
            {{/if}}
          </div>
        </div>
      {{/if}}

      {{#if (and (is "neq" this.attacker.critic "-") this.attacker.critic)}}
        {{>
        "systems/animabf-guote/templates/common/ui/horizontal-titled-input.hbs"
          title=(localize 'anima.macros.combat.dialog.at.title')
          disabled=this.defenseSent
          inputName="defender.combat.at.special"
          inputValue=this.defender.combat.at.special
          hasSecondaryInput=true
          disableSecondaryInput=true
          secondaryInputName="defender.combat.at.final"
          secondaryInputValue=this.defender.combat.at.final
        }}
      {{/if}}

      <section class="sheet-body">
        <div class="tab combat" data-group="primary" data-tab="combat">
          {{> 'systems/animabf-guote/templates/dialog/combat/chat-combat-defense/parts/combat.hbs' this=this}}
        </div>

        <div class="tab damageResistance" data-group="primary" data-tab="damageResistance">
          {{> 'systems/animabf-guote/templates/dialog/combat/chat-combat-defense/parts/damage-resistance.hbs' this=this}}
        </div>

        <div class="tab mystic" data-group="primary" data-tab="mystic">
          {{> 'systems/animabf-guote/templates/dialog/combat/chat-combat-defense/parts/mystic.hbs' this=this}}
        </div>

        <div class="tab psychic" data-group="primary" data-tab="psychic">
          {{> 'systems/animabf-guote/templates/dialog/combat/chat-combat-defense/parts/psychic.hbs' this=this}}
        </div>

        <div class="tab summon" data-group="primary" data-tab="summon">
          {{> 'systems/animabf-guote/templates/dialog/combat/chat-combat-defense/parts/summon.hbs' this=this}}
        </div>
      </section>

    {{/"systems/animabf-guote/templates/common/ui/group-body.hbs"}}
  {{/"systems/animabf-guote/templates/common/ui/group.hbs"}}
</form>
