{{!-- Dynamic Resources: Zeon, Ki, Psychic Points (Conditional) --}}
{{#if (or system.ui.tabVisibility.mystic.value system.ui.tabVisibility.domine.value system.ui.tabVisibility.psychic.value)}}
<div class="v2-header__dynamic-resources">
  {{!-- Zeon (Mystic) --}}
  {{#if system.ui.tabVisibility.mystic.value}}
  <div class="v2-dynamic-resource v2-dynamic-resource--zeon">
    <span class="v2-dynamic-resource__label">Zeon</span>
    <div class="v2-dynamic-resource__values">
      <input type="number" class="v2-resource__input v2-resource__input--small"
             name="system.mystic.zeon.value"
             value="{{system.mystic.zeon.value}}">
      <span class="v2-resource__separator">/</span>
      <input type="number" class="v2-resource__input v2-resource__input--small"
             name="system.mystic.zeon.max"
             value="{{system.mystic.zeon.max}}">
    </div>
    <span style="margin-left: var(--space-1); opacity: 0.7; font-size: var(--font-size-xs);">
      Acc: {{system.mystic.zeonAccumulated.value}}
    </span>
  </div>
  {{/if}}

  {{!-- Ki (Domine) --}}
  {{#if system.ui.tabVisibility.domine.value}}
  <div class="v2-dynamic-resource v2-dynamic-resource--ki">
    <span class="v2-dynamic-resource__label">Ki</span>
    <div class="v2-dynamic-resource__values">
      <input type="number" class="v2-resource__input v2-resource__input--small"
             name="system.domine.kiAccumulation.generic.value"
             value="{{system.domine.kiAccumulation.generic.value}}">
      <span class="v2-resource__separator">/</span>
      <input type="number" class="v2-resource__input v2-resource__input--small"
             name="system.domine.kiAccumulation.generic.max"
             value="{{system.domine.kiAccumulation.generic.max}}">
    </div>
  </div>
  {{/if}}

  {{!-- Psychic Points --}}
  {{#if system.ui.tabVisibility.psychic.value}}
  <div class="v2-dynamic-resource v2-dynamic-resource--psychic">
    <span class="v2-dynamic-resource__label">PP</span>
    <div class="v2-dynamic-resource__values">
      <input type="number" class="v2-resource__input v2-resource__input--small"
             name="system.psychic.psychicPoints.value"
             value="{{system.psychic.psychicPoints.value}}">
      <span class="v2-resource__separator">/</span>
      <input type="number" class="v2-resource__input v2-resource__input--small"
             name="system.psychic.psychicPoints.max"
             value="{{system.psychic.psychicPoints.max}}">
    </div>
  </div>
  {{/if}}
</div>
{{/if}}
