{{!-- Initiative Display with Weapon Selector --}}
<div class="v2-header__initiative">
  <span class="v2-initiative__label">{{localize "anima.ui.general.initiative.base.title"}}</span>
  <span class="v2-initiative__value rollable"
        data-roll="1d100Initiative"
        data-rollvalue="{{system.characteristics.secondaries.initiative.final.value}}"
        data-label="{{localize 'anima.ui.general.initiative.base.title'}}">
    {{#if (gte system.characteristics.secondaries.initiative.final.value 0)}}+{{/if}}{{system.characteristics.secondaries.initiative.final.value}}
  </span>
  <span style="margin-left: var(--space-2); opacity: 0.7;">{{localize "anima.ui.combat.weapon.manageabilityType.title"}}</span>
  {{> "systems/animabf-guote/templates/actor-v2/components/weapon-dropdown.hbs"}}
</div>
