{{!-- Compact Resistances Display --}}
<div class="v2-resistances">
  <div class="v2-resistance">
    <span class="v2-resistance__label">RF</span>
    <span class="v2-resistance__value">{{system.characteristics.secondaries.resistances.physical.final.value}}</span>
  </div>
  <div class="v2-resistance">
    <span class="v2-resistance__label">RE</span>
    <span class="v2-resistance__value">{{system.characteristics.secondaries.resistances.disease.final.value}}</span>
  </div>
  <div class="v2-resistance">
    <span class="v2-resistance__label">RV</span>
    <span class="v2-resistance__value">{{system.characteristics.secondaries.resistances.poison.final.value}}</span>
  </div>
  <div class="v2-resistance">
    <span class="v2-resistance__label">RM</span>
    <span class="v2-resistance__value">{{system.characteristics.secondaries.resistances.magic.final.value}}</span>
  </div>
  <div class="v2-resistance">
    <span class="v2-resistance__label">RP</span>
    <span class="v2-resistance__value">{{system.characteristics.secondaries.resistances.psychic.final.value}}</span>
  </div>
</div>
