<div>
    {{#if isCoreSkill}}
        <span>★ {{parent.name}}&nbsp;({{attribute}})</span>
    {{else}}
        <span>{{parent.name}}&nbsp;({{attribute}})</span>
    {{/if}}
    <section>
        {{{enrichedDescription}}}
    </section>
</div>