<div>
    <section>
        <table>
            <thead>
                <tr>
                    <th colspan="{{#if range}}1{{/if}}{{#if damage}}1{{/if}}{{#if ap}}1{{/if}}{{#if rof}}1{{/if}}{{#if shots}}1{{/if}}{{#if minStr}}1{{/if}}{{#if weight}}1{{/if}}{{#if price}}1{{/if}}">
                        {{parent.name}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{#if range}}<td>{{localize 'SWADE.Range._name'}}</td>{{/if}}
                    {{#if damage}}<td>{{localize 'SWADE.Dmg'}}</td>{{/if}}
                    {{#if ap}}<td>{{localize 'SWADE.Ap'}}</td>{{/if}}
                    {{#if rof}}<td>{{localize 'SWADE.RoF'}}</td>{{/if}}
                    {{#if shots}}<td>{{localize 'SWADE.Mag'}}</td>{{/if}}
                    {{#if minStr}}<td>{{localize 'SWADE.MinStrShort'}}</td>{{/if}}
                    {{#if weight}}<td>{{localize 'SWADE.Weight'}}</td>{{/if}}
                    {{#if price}}<td>{{localize 'SWADE.Price'}}</td>{{/if}}
                </tr>
                <tr>
                    {{#if range}}<td>{{range}}</td>{{/if}}
                    {{#if damage}}<td>{{formatDamage damage}}</td>{{/if}}
                    {{#if ap}}<td>{{ap}}</td>{{/if}}
                    {{#if rof}}<td>{{rof}}</td>{{/if}}
                    {{#if shots}}<td>{{shots}}</td>{{/if}}
                    {{#if minStr}}<td>{{minStr}}</td>{{/if}}
                    {{#if weight}}<td>{{weight}}</td>{{/if}}
                    {{#if price}}<td>{{price}}</td>{{/if}}
                </tr>
            </tbody>
        </table>
    </section>
    {{#if notes}}
    <section>
        <div><span>{{localize 'SWADE.Notes'}}:&nbsp;</span>{{notes}}</div>
    </section>
    {{/if}}
    <section>
        {{{enrichedDescription}}}
    </section>
</div>
