<section>
  <div class='form-group'>
    <label>{{localize 'Type'}}</label>
    <span class='form-fields'>
      <select name='type' data-dtype='Number'>
        {{selectOptions advanceTypes selected=advance.type localize=true}}
      </select>
    </span>
  </div>
  <div class='form-group'>
    <label>{{localize 'SWADE.Rank'}}</label>
    <span><input type='text' value='{{rank}}' disabled /></span>
  </div>
  <div class='form-group'>
    <label for='{{advance.id}}-number'>
      {{localize 'SWADE.Advances.Number'}}
    </label>
    <span class='form-fields'>
      <input
        id='{{advance.id}}-number'
        type='number'
        name='sort'
        value='{{advance.sort}}'
      />
    </span>
  </div>
  <div class='form-group'>
    <label for='{{advance.id}}-planned'>
      {{localize 'SWADE.Advances.Planned'}}
    </label>
    <span class='form-fields'>
      <input
        id='{{advance.id}}-planned'
        type='checkbox'
        name='planned'
        {{checked advance.planned}}
      />
    </span>
  </div>
  <h2>{{localize 'SWADE.Notes'}}</h2>
  <div class='editor-container'>
    <prose-mirror name='advance.notes' value='{{notes}}'>
      {{{notes}}}
    </prose-mirror>
  </div>
</section>
