<section class='toc'>
  <h2 class='header title top-row'>{{header}}</h2>
  {{#if isActor}}
    <div class='header category top-row'>
      <label>{{localize 'SWADE.Category'}}</label>
      <select name='category'>
        {{selectOptions actorCategories valueAttr='label'}}
      </select>
    </div>
    {{!-- <label class='header category top-row float-label'>
      <select name='category'>
        {{selectOptions actorCategories}}
      </select>
      <span>{{localize 'SWADE.Category'}}</span>
    </label> --}}
  {{/if}}
  <div class='header search top-row'>
    <a
      class='toggle-search-mode'
      data-action='toggleSearchMode'
      data-tooltip='{{localize searchMode.tooltip}}'
    >
      <i class='fas {{searchMode.icon}}'></i>
    </a>
    <input
      type='search'
      name='search'
      placeholder='{{localize "Search"}}'
      autocomplete='off'
    />
    {{#unless isJournal}}
      {{#if canCreateEntry}}
        <a
          class='createDocument'
          data-action='createDocument'
          data-tooltip='{{localize "SIDEBAR.Create" type=label}}'
        ><i class='fa-solid fa-plus'></i></a>
      {{/if}}
    {{/unless}}
  </div>
  <div class='disclaimer'>{{disclaimer}}</div>
  <section class='content'>
    {{#if isJournal}}
      {{#each entries}}
        <section class='journal' data-entry-id='{{id}}'>
          <header data-entry-id='{{id}}'>
            <h3 class='journal-heading'>
              <a data-action='openDocument'>{{name}}</a>
            </h3>
          </header>
          <ol class='unmarked-list pages'>
            {{#each pages}}
              <li class='page' data-page-id='{{id}}'>
                <a data-action='openDocument' class='name'>{{name}}</a>
              </li>
            {{/each}}
          </ol>
        </section>
      {{/each}}
    {{else}}
      {{#each categories}}
        <section class='category'>
          {{#if category}}<h3 class='category-header'>{{category}}</h3>{{/if}}
          <ol class='categories unmarked-list'>
            {{#each entries}}
              <li class='toc-entry flexrow' data-entry-id='{{id}}'>
                {{#if @root.isActor}}
                  <img
                    class='thumbnail'
                    src='{{img.path}}'
                    style='scale: {{img.scale}};'
                    alt='{{name}}'
                    loading='lazy'
                  />
                {{else}}
                  <img
                    class='thumbnail'
                    src='{{img}}'
                    alt='{{name}}'
                    loading='lazy'
                  />
                {{/if}}
                {{#if isWildcard}}
                  <img
                    class='wildcard'
                    src='{{@root.wildCardMarker}}'
                    alt='{{localize "SWADE.WildCard"}}'
                  />
                {{/if}}
                <div class='entry'>
                  <a data-action='openDocument' class='name'>{{name}}</a>
                  {{#if requirements}}
                    <span class='requirements'>{{requirements}}</span>
                  {{/if}}
                </div>
              </li>
            {{/each}}
          </ol>
          {{#each groups}}
            {{#if group}}<h3 class='group-header'>{{group}}</h3>{{/if}}
            <ol class='categories unmarked-list'>
              {{#each entries}}
                <li class='toc-entry flexrow' data-entry-id='{{id}}'>
                  <img
                    class='thumbnail'
                    src='{{img}}'
                    alt='{{name}}'
                    loading='lazy'
                  />
                  <div class='entry'>
                    <a data-action='openDocument' class='name'>{{name}}</a>
                    {{#if requirements}}
                      <span class='requirements'>
                        {{localize 'SWADE.Req'}}:&nbsp;
                        {{requirements}}
                      </span>
                    {{/if}}
                  </div>
                </li>
              {{/each}}
            </ol>
          {{/each}}
        </section>
      {{/each}}
    {{/if}}
  </section>
</section>