<div>
  <table>
    <thead>
      <tr>
        <th>{{localize 'DOCUMENT.User'}}</th>
        <th>{{localize 'DOCUMENT.Combatant'}}</th>
        <th>{{localize 'COMBAT.CombatantStatus'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each draws}}
        <tr>
          <td>{{user}}</td>
          <td>{{combatant}}</td>
          <td>{{icon}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>