<div class="combat-dialog-grid">

  {{!-- Row 1: Weapon selector (full width) --}}
  <div class="combat-grid-full">
    {{#if this.defender.combat.unarmed}}
    {{#> 'systems/animabf-guote/templates/common/ui/custom-select.hbs'
    title=(localize 'anima.macros.combat.dialog.weapon.title')
    disabled=true
    }}
    <option>Unarmed</option>
    {{/'systems/animabf-guote/templates/common/ui/custom-select.hbs'}}
    {{else}}
    {{#> 'systems/animabf-guote/templates/common/ui/custom-select.hbs'
    title=(localize 'anima.macros.combat.dialog.weapon.title')
    disabled=this.defenseSent
    inputName='defender.combat.weaponUsed'
    }}
    {{#each this.defender.actor.system.combat.weapons}}
    <option {{#if (is 'eq' this._id ../this.defender.combat.weaponUsed)}}selected{{/if}} value='{{this._id}}'>{{localize
      'anima.macros.combat.dialog.weaponRow.defense.title' name=this.name value=this.system.block.final.value}}</option>
    {{/each}}
    {{/'systems/animabf-guote/templates/common/ui/custom-select.hbs'}}
    {{/if}}
  </div>

  {{!-- Row 2: Fatigue | Modifier --}}
  <div class="combat-grid-half">
    {{#if this.ui.hasFatiguePoints}}
    {{#> 'systems/animabf-guote/templates/common/ui/custom-select.hbs'
    title=(localize 'anima.macros.combat.dialog.fatigue.title')
    disabled=this.defenseSent
    inputName="defender.combat.fatigue"
    inputValue=this.defender.combat.fatigue
    }}
    <option {{#if (is "eq" 0 this.defender.combat.fatigue)}}selected{{/if}} value='0'>0</option>
    {{#iterateNumber this.defender.actor.system.characteristics.secondaries.fatigue.value}}
    <option {{#if (is "eq" (math this "+" 1) ../this.defender.combat.fatigue)}}selected{{/if}} value='{{math this "+" 1}}'>
      {{math this "+" 1}}</option>
    {{/iterateNumber}}
    {{/'systems/animabf-guote/templates/common/ui/custom-select.hbs'}}
    {{else}}
    <p class='label no-fatigue'>{{localize 'anima.macros.combat.dialog.notEnoughFatigue.title'}}</p>
    {{/if}}
  </div>
  <div class="combat-grid-half">
    {{>
    "systems/animabf-guote/templates/common/ui/horizontal-titled-input.hbs"
    title=(localize 'anima.macros.combat.dialog.modifier.title')
    disabled=this.defenseSent
    inputName="defender.combat.modifier"
    inputValue=this.defender.combat.modifier
    }}
  </div>

  {{!-- Row 3: No incrementar contador checkbox --}}
  <div class="combat-grid-full combat-checkbox-row">
    {{>
    "systems/animabf-guote/templates/common/ui/horizontal-titled-input.hbs"
    title="No aumentar el contador de defensas"
    disabled=this.defenseSent
    inputType="checkbox"
    inputName="defender.combat.ignoreDefenseCount"
    inputValue=(is 'eq' this.defender.combat.ignoreDefenseCount true)
    }}
  </div>

</div>

{{!-- Summary bar --}}
{{#if this.defender.combat.summary}}
{{#unless this.defenseSent}}
<div class="combat-summary-bar">
  <span class="summary-item">
    <span class="summary-label">Esquiva</span>
    <span class="summary-value">{{this.defender.combat.summary.dodgeTotal}}</span>
  </span>
  <span class="summary-item">
    <span class="summary-label">Bloqueo</span>
    <span class="summary-value">{{this.defender.combat.summary.blockTotal}}</span>
  </span>
  {{#if this.defender.combat.summary.hasCritic}}
  <span class="summary-item">
    <span class="summary-label">AT</span>
    <span class="summary-value">{{this.defender.combat.summary.atFinal}}</span>
  </span>
  <span class="summary-item">
    <span class="summary-label">Red. base</span>
    <span class="summary-value">{{this.defender.combat.summary.atReduction}}</span>
  </span>
  {{/if}}
</div>
{{/unless}}
{{/if}}

{{#if this.defenseSent}}
<div class='defense-sent'>
  {{>'systems/animabf-guote/templates/common/ui/loading-indicator.hbs' class="big"}}
  <p class='label'>
    {{localize 'anima.macros.combat.dialog.defenseSent.title'}}
  </p>
</div>
{{else}}
<div class='defense-buttons'>
  <button class='abf-button send-defense' data-type='dodge'>
    {{localize 'anima.macros.combat.dialog.dodgeButton.title'}}
  </button>
  <button class='abf-button send-defense' data-type='block'>
    {{localize 'anima.macros.combat.dialog.blockButton.title'}}
  </button>
</div>
{{/if}}
