{{!-- ═══ TAB CONTENTS: Weapon & Fatigue ═══ --}}
<div class="dialog-section">
  <div class="combat-dialog-grid">

    {{!-- Weapon selector (full width) --}}
    <div class="combat-grid-full">
      <div class="selector-row">
        {{#if this.attacker.combat.unarmed}}
        {{#> 'systems/animabf-guote/templates/common/ui/custom-select.hbs'
        title=(localize 'anima.macros.combat.dialog.weapon.title')
        disabled=true
        }}
        <option>Unarmed</option>
        {{/'systems/animabf-guote/templates/common/ui/custom-select.hbs'}}
        {{else}}
        {{#> 'systems/animabf-guote/templates/common/ui/custom-select.hbs'
        title=(localize 'anima.macros.combat.dialog.weapon.title')
        disabled=this.attackSent
        inputName='attacker.combat.weaponUsed'
        }}
        {{#each this.attacker.actor.system.combat.weapons}}
        <option {{#if (is "eq" this._id ../this.attacker.combat.weaponUsed)}}selected{{/if}} value='{{this._id}}'>
          {{localize 'anima.macros.combat.dialog.weaponRow.attack.title' name=this.name value=this.system.attack.final.value}}
        </option>
        {{/each}}
        {{/'systems/animabf-guote/templates/common/ui/custom-select.hbs'}}
        <button type="button" class="abf-button icon-button open-weapon-sheet" title="Abrir ficha del arma"
          {{#if this.attackSent}}disabled{{/if}}>
          <i class="fas fa-external-link-alt"></i>
        </button>
        {{/if}}
      </div>
    </div>

    {{!-- Fatigue (half width so it doesn't stretch full row) --}}
    <div class="combat-grid-half">
      {{#if this.ui.hasFatiguePoints}}
      {{#> 'systems/animabf-guote/templates/common/ui/custom-select.hbs'
      title=(localize 'anima.macros.combat.dialog.fatigue.title')
      disabled=this.attackSent
      inputName="attacker.combat.fatigueUsed"
      inputValue=this.attacker.combat.fatigueUsed
      }}
      <option {{#if (is "eq" 0 this.attacker.combat.fatigueUsed)}}selected{{/if}} value='0'>0</option>
      {{#iterateNumber (minNumber this.attacker.actor.system.characteristics.secondaries.fatigue.value 5)}}
      <option {{#if (is "eq" (math this "+" 1) ../this.attacker.combat.fatigueUsed)}}selected{{/if}}
        value='{{math this "+" 1}}'>{{math this "+" 1}}</option>
      {{/iterateNumber}}
      {{/'systems/animabf-guote/templates/common/ui/custom-select.hbs'}}
      {{else}}
      <p class='label no-fatigue'>{{localize 'anima.macros.combat.dialog.notEnoughFatigue.title'}}</p>
      {{/if}}
    </div>

  </div>
</div>

