{{!-- Inventory Tab --}}
<div class="v2-tab-inventory">
  {{!-- Weapons --}}
  <div class="v2-card">
    <div class="v2-card__header">
      <div class="v2-card__header-title">
        <span>{{localize "anima.ui.combat.weapons.title"}}</span>
      </div>
      <div class="v2-card__header-actions">
        <button type="button" class="v2-card__header-btn" data-on-click="add-weapon" title="{{localize 'anima.dialogs.items.weapons.content'}}">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="v2-card__body" style="padding: 0;">
      <table class="v2-table">
        <thead>
          <tr>
            <th style="width: 30px;" title="Usar para turno"><i class="fas fa-dice-d20"></i></th>
            <th class="inventory-sort-th v2-sort-th" data-sort-table="weapons" data-sort-field="name">
              {{localize "anima.ui.combat.ammo.name.title"}}
              {{#if inventorySortHeaders.weapons.name.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.weapons.name.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 50px;" data-sort-table="weapons" data-sort-field="attack">
              {{localize "anima.ui.combat.baseValues.attack.title"}}
              {{#if inventorySortHeaders.weapons.attack.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.weapons.attack.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 50px;" data-sort-table="weapons" data-sort-field="block">
              {{localize "anima.ui.combat.baseValues.block.title"}}
              {{#if inventorySortHeaders.weapons.block.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.weapons.block.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 50px;" data-sort-table="weapons" data-sort-field="damage">
              {{localize "anima.ui.combat.weapons.damage.final.title"}}
              {{#if inventorySortHeaders.weapons.damage.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.weapons.damage.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 40px;" data-sort-table="weapons" data-sort-field="initiative">
              {{localize "anima.ui.general.initiative.base.title"}}
              {{#if inventorySortHeaders.weapons.initiative.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.weapons.initiative.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 60px;" data-sort-table="weapons" data-sort-field="critic">
              {{localize "anima.ui.combat.weapons.critic.primary.title"}}
              {{#if inventorySortHeaders.weapons.critic.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.weapons.critic.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th style="width: 30px;"></th>
          </tr>
        </thead>
        <tbody id="weapons-context-menu-container">
          {{#each system.combat.weapons as |weapon|}}
          <tr class="weapon-row v2-table__row--draggable" data-item-id="{{weapon._id}}">
            <td class="v2-text-center">
              <input type="checkbox" class="weapon-initiative-checkbox"
                     name="system.dynamic.weapons.{{weapon._id}}.system.isShown.value"
                     {{checked weapon.system.isShown.value}}
                     title="Usar para turno">
            </td>
            <td>
              <span class="rollable"
                    data-roll="1d100xa"
                    data-rollvalue="{{weapon.system.attack.final.value}}"
                    data-label="{{weapon.name}}">
                {{weapon.name}}
              </span>
            </td>
            <td class="v2-text-center">{{weapon.system.attack.final.value}}</td>
            <td class="v2-text-center">{{weapon.system.block.final.value}}</td>
            <td class="v2-text-center">{{weapon.system.damage.final.value}}</td>
            <td class="v2-text-center">{{weapon.system.initiative.final.value}}</td>
            <td class="v2-text-center">{{weapon.system.critic.primary.value}}</td>
            <td class="v2-text-center">
              <button type="button" class="v2-btn-icon-sm weapon-open-sheet"
                      data-item-id="{{weapon._id}}"
                      onclick="event.stopPropagation()"
                      title="Ver ficha">
                <i class="fas fa-eye"></i>
              </button>
            </td>
          </tr>
          {{else}}
          <tr>
            <td colspan="8" class="v2-text-center v2-text-muted">-</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{!-- Armors --}}
  <div class="v2-card">
    <div class="v2-card__header">
      <div class="v2-card__header-title">
        <span>{{localize "anima.ui.combat.armors.title"}}</span>
      </div>
      <div class="v2-card__header-actions">
        <button type="button" class="v2-card__header-btn" data-on-click="add-armor" title="{{localize 'anima.dialogs.items.armors.content'}}">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="v2-card__body" style="padding: 0;">
      <table class="v2-table">
        <thead>
          <tr>
            <th style="width: 30px;" title="Equipada"><i class="fas fa-shield-alt"></i></th>
            <th class="inventory-sort-th v2-sort-th" data-sort-table="armors" data-sort-field="name">
              {{localize "anima.ui.combat.armors.name.title"}}
              {{#if inventorySortHeaders.armors.name.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.armors.name.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 35px;" data-sort-table="armors" data-sort-field="cut">
              {{localize "anima.ui.combat.armors.at.cut.title"}}
              {{#if inventorySortHeaders.armors.cut.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.armors.cut.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 35px;" data-sort-table="armors" data-sort-field="impact">
              {{localize "anima.ui.combat.armors.at.impact.title"}}
              {{#if inventorySortHeaders.armors.impact.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.armors.impact.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 35px;" data-sort-table="armors" data-sort-field="thrust">
              {{localize "anima.ui.combat.armors.at.thrust.title"}}
              {{#if inventorySortHeaders.armors.thrust.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.armors.thrust.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 35px;" data-sort-table="armors" data-sort-field="heat">
              {{localize "anima.ui.combat.armors.at.heat.title"}}
              {{#if inventorySortHeaders.armors.heat.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.armors.heat.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 35px;" data-sort-table="armors" data-sort-field="electricity">
              {{localize "anima.ui.combat.armors.at.electricity.title"}}
              {{#if inventorySortHeaders.armors.electricity.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.armors.electricity.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 35px;" data-sort-table="armors" data-sort-field="cold">
              {{localize "anima.ui.combat.armors.at.cold.title"}}
              {{#if inventorySortHeaders.armors.cold.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.armors.cold.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 35px;" data-sort-table="armors" data-sort-field="energy">
              {{localize "anima.ui.combat.armors.at.energy.title"}}
              {{#if inventorySortHeaders.armors.energy.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.armors.energy.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
          </tr>
        </thead>
        <tbody id="armors-context-menu-container">
          {{#each system.combat.armors as |armor|}}
          <tr class="armor-row v2-table__row--draggable" data-item-id="{{armor._id}}">
            <td class="v2-text-center">
              <input type="checkbox" class="armor-equipped-checkbox"
                     name="system.dynamic.armors.{{armor._id}}.system.equipped.value"
                     {{checked armor.system.equipped.value}}
                     title="Equipada">
            </td>
            <td>
              <span class="item-link">{{armor.name}}</span>
            </td>
            <td class="v2-text-center">{{armor.system.cut.final.value}}</td>
            <td class="v2-text-center">{{armor.system.impact.final.value}}</td>
            <td class="v2-text-center">{{armor.system.thrust.final.value}}</td>
            <td class="v2-text-center">{{armor.system.heat.final.value}}</td>
            <td class="v2-text-center">{{armor.system.electricity.final.value}}</td>
            <td class="v2-text-center">{{armor.system.cold.final.value}}</td>
            <td class="v2-text-center">{{armor.system.energy.final.value}}</td>
          </tr>
          {{else}}
          <tr>
            <td colspan="9" class="v2-text-center v2-text-muted">-</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{!-- Ammo --}}
  <div class="v2-card">
    <div class="v2-card__header">
      <div class="v2-card__header-title">
        <span>{{localize "anima.ui.combat.ammo.title"}}</span>
      </div>
      <div class="v2-card__header-actions">
        <button type="button" class="v2-card__header-btn" data-on-click="add-ammo" title="{{localize 'anima.dialogs.items.ammo.content'}}">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="v2-card__body" style="padding: 0;">
      <table class="v2-table">
        <thead>
          <tr>
            <th class="inventory-sort-th v2-sort-th" data-sort-table="ammo" data-sort-field="name">
              {{localize "anima.ui.combat.ammo.name.title"}}
              {{#if inventorySortHeaders.ammo.name.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.ammo.name.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 70px;" data-sort-table="ammo" data-sort-field="amount">
              {{localize "anima.ui.combat.ammo.amount.title"}}
              {{#if inventorySortHeaders.ammo.amount.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.ammo.amount.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 70px;" data-sort-table="ammo" data-sort-field="damage">
              {{localize "anima.ui.combat.ammo.damage.title"}}
              {{#if inventorySortHeaders.ammo.damage.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.ammo.damage.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 80px;" data-sort-table="ammo" data-sort-field="critic">
              {{localize "anima.ui.combat.ammo.critic.title"}}
              {{#if inventorySortHeaders.ammo.critic.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.ammo.critic.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
          </tr>
        </thead>
        <tbody id="ammo-context-menu-container">
          {{#each system.combat.ammo as |ammo|}}
          <tr class="ammo-row v2-table__row--draggable" data-item-id="{{ammo._id}}">
            <td><span class="item-link">{{ammo.name}}</span></td>
            <td>
              <input type="number" class="v2-table__input v2-text-center"
                     name="system.dynamic.ammo.{{ammo._id}}.system.amount.value"
                     value="{{ammo.system.amount.value}}">
            </td>
            <td class="v2-text-center">{{ammo.system.damage.final.value}}</td>
            <td class="v2-text-center">{{ammo.system.critic.value}}</td>
          </tr>
          {{else}}
          <tr>
            <td colspan="4" class="v2-text-center v2-text-muted">-</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  {{!-- Money --}}
  <div class="v2-card">
    <div class="v2-card__header">
      <span>{{localize "anima.ui.moneySection.title"}}</span>
    </div>
    <div class="v2-card__body">
      <div class="v2-grid v2-grid--3">
        {{> "systems/animabf-guote/templates/actor-v2/components/labeled-input.hbs" label=(localize "anima.ui.moneySection.gold.title") name="system.general.money.gold.value" value=system.general.money.gold.value type="number"}}
        {{> "systems/animabf-guote/templates/actor-v2/components/labeled-input.hbs" label=(localize "anima.ui.moneySection.silver.title") name="system.general.money.silver.value" value=system.general.money.silver.value type="number"}}
        {{> "systems/animabf-guote/templates/actor-v2/components/labeled-input.hbs" label=(localize "anima.ui.moneySection.cooper.title") name="system.general.money.cooper.value" value=system.general.money.cooper.value type="number"}}
      </div>
    </div>
  </div>

  {{!-- Inventory Items --}}
  <div class="v2-card">
    <div class="v2-card__header">
      <div class="v2-card__header-title">
        <span>{{localize "anima.ui.inventoryItemsSection.title"}}</span>
      </div>
      <div class="v2-card__header-actions">
        <button type="button" class="v2-card__header-btn" data-on-click="add-inventory-item" title="{{localize 'anima.dialogs.items.inventoryItem.content'}}">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="v2-card__body" style="padding: 0;">
      <table class="v2-table">
        <thead>
          <tr>
            <th class="inventory-sort-th v2-sort-th" data-sort-table="inventory" data-sort-field="name">
              {{localize "anima.ui.inventoryItemsSection.name.title"}}
              {{#if inventorySortHeaders.inventory.name.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.inventory.name.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 80px;" data-sort-table="inventory" data-sort-field="amount">
              {{localize "anima.ui.inventoryItemsSection.amount.title"}}
              {{#if inventorySortHeaders.inventory.amount.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.inventory.amount.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th class="inventory-sort-th v2-sort-th" style="width: 80px;" data-sort-table="inventory" data-sort-field="weight">
              {{localize "anima.ui.inventoryItemsSection.weight.title"}}
              {{#if inventorySortHeaders.inventory.weight.active}}
                <i class="fas fa-sort-{{inventorySortHeaders.inventory.weight.dir}} v2-sort-icon--active"></i>
              {{else}}
                <i class="fas fa-sort v2-sort-icon--inactive"></i>
              {{/if}}
            </th>
            <th>{{localize "anima.ui.inventoryItemsSection.description.title"}}</th>
          </tr>
        </thead>
        <tbody id="inventory-items-context-menu-container">
          {{#each system.general.inventory as |item|}}
          <tr class="inventory-item-row v2-table__row--draggable" data-item-id="{{item._id}}">
            <td><span class="item-link">{{item.name}}</span></td>
            <td>
              <input type="number" class="v2-table__input v2-text-center"
                     name="system.dynamic.inventory.{{item._id}}.system.amount.value"
                     value="{{item.system.amount.value}}">
            </td>
            <td>
              <input type="number" class="v2-table__input v2-text-center"
                     name="system.dynamic.inventory.{{item._id}}.system.weight.value"
                     value="{{item.system.weight.value}}">
            </td>
            <td class="v2-text-muted" style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
              {{item.system.description.value}}
            </td>
          </tr>
          {{else}}
          <tr>
            <td colspan="4" class="v2-text-center v2-text-muted">-</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
